/* Add your CSS Below */
#list {
  font-family: "serif";
  font-weight: bold;
  border-collapse: collapse;
  width: 400px;
  table-layout: : fixed;
  margin-left: 4em;
}

#list td, #list th {
  border-bottom: 1px solid slategray;
  padding: 8px;
}

#list tr:nth-child(even){background-color: lightgrey;}

#list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkgreen;
  color: white;
}

.ids {
  position: relative;
  left: 50px;
}

.money {
  positon: fixed;
  left: 250;
}